@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

*{
    box-sizing:border-box;
    font-family: Lexend;
    
}
*:hover{
    transition: all ease 0.3s;
}
body{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
